pyTelegramBotAPI==4.36.0
python-telegram-bot==22.8
Pillow==12.3.0
python-arq==6.0.7
aiohttp==3.14.3
hijri-converter==2.3.2.post1
httpx==0.28.1
meval==2.5
mutagen==1.48.1
pydub==0.25.1
Pyrogram==2.0.106
TgCrypto==1.2.5
pytio==0.3.1
pytube==15.0.0
youtube-search==2.2.0
yt-dlp==2026.7.4
py-cpuinfo==9.0.0
psutil==7.2.2
pytz==2026.2
gTTS==2.5.4
akinator.py==0.2.5
redis==8.0.1
SpeechRecognition==3.17.0
wget==3.2
google-generativeai==0.8.6
gunicorn==23.0.0
