pyTelegramBotAPI==4.36.0
python-telegram-bot==22.8
Pillow==12.3.0
python-arq==6.0.7
aiohttp==3.14.3
hijri-converter==2.3.2.post1
httpx==0.28.1
meval==2.5
mutagen==1.48.1
pydub==0.25.1
Pyrogram==2.0.106
TgCrypto==1.2.5
pytio==0.3.1
pytube==15.0.0
youtube-search==2.2.0
yt-dlp==2026.7.4
py-cpuinfo==9.0.0
psutil==7.2.2
pytz==2026.2
gTTS==2.5.4
akinator.py==0.2.5
redis==8.0.1
SpeechRecognition==3.17.0
wget==3.2
google-generativeai==0.8.6
gunicorn==23.0.0
aiofiles==25.1.0
aiomysql==0.3.0
aiopg==1.4.0
aioredis==2.0.1
aiosignal==1.3.2
aiosqlite==0.21.0
alembic==1.17.0
alive-progress==3.2.0
annotated-types==0.7.0
anthropic==0.72.0
anyio==4.12.0
appdirs==1.4.4
arabic-reshaper==3.0.0
arrow==1.4.0
asgiref==3.8.2
async-lru==2.0.5
async-timeout==5.0.1
asyncpg==0.30.0
attrs==25.4.0
authlib==1.6.5
av==16.0.0
azure-storage-blob==12.27.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.13.5
bidict==0.23.1
bitsandbytes==0.48.0
black==25.12.0
bleach==6.3.0
blinker==1.9.0
boltons==25.1.0
boto3==1.40.0
brotli==1.1.0
cachetools==6.2.0
celery==5.5.1
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
ciso8601==2.3.2
click==8.2.0
cloudpickle==3.1.2
cohere==5.23.0
colorama==0.4.6
colorlog==6.10.0
coverage==7.12.0
cryptography==46.0.3
currencyconverter==0.18.0
dataclasses-json==0.6.7
datasets==4.4.0
dateparser==1.2.2
deep-translator==1.11.4
defusedxml==0.7.1
deprecation==2.1.0
dict2xml==1.7.6
distro==1.9.0
dj-database-url==2.3.0
django==5.2.0
dnspython==2.8.0
docopt==0.6.2
docutils==0.21.2
dynaconf==3.2.8
einops==0.8.2
emoji==2.15.0
fastapi==0.126.0
fasttext==0.9.3
ffmpeg-python==0.2.0
filelock==3.18.0
filetype==1.2.0
flake8==7.3.0
flask==3.2.0
folium==0.20.0
frozenlist==1.8.0
fsspec==2026.3.0
fuzzywuzzy==0.18.0
gensim==4.4.0
geopy==2.4.1
gevent==25.9.1
google-api-core==2.25.1
google-auth==2.43.0
google-cloud-storage==3.4.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
graphene==3.4.0
greenlet==3.2.5
grpcio==1.76.0
h5py==3.15.0
halo==0.0.31
huggingface-hub==0.34.3
hydra-core==1.3.2
hypercorn==0.18.0
idna==3.11
imagehash==4.3.2
imageio==2.37.0
inflect==7.5.0
iniconfig==2.3.0
intervaltree==3.1.0
isort==6.2.0
itsdangerous==2.2.0
jellyfish==1.1.0
jinja2==3.1.6
joblib==1.5.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
langdetect==1.0.9
levenshtein==0.27.1
loguru==0.7.3
lxml==6.0.2
markdown==3.9.0
markdown2==2.5.4
markupsafe==3.0.3
marshmallow==3.26.1
matplotlib==3.10.8
mistune==3.2.0
more-itertools==10.8.0
motor==3.8.0
moviepy==2.1.3
msgpack==1.1.2
mypy==1.18.0
mypy-extensions==1.1.0
networkx==3.6.1
nltk==3.9.2
numpy==2.4.0
nvidia-ml-py3==7.352.0
oauthlib==3.3.1
omegaconf==2.3.0
openai==2.10.0
opencv-python==4.12.0.88
openpyxl==3.1.5
orjson==3.11.5
packaging==25.0
pandas==2.3.2
parsel==1.10.0
passlib==1.7.4
pathlib2==2.3.7
pathspec==0.12.1
pdbpp==0.10.3
peewee==3.18.3
peft==0.18.0
pendulum==3.0.0
phonetics==1.0.1
piexif==1.1.3
ping3==4.0.5
platformdirs==4.5.1
playwright==1.55.0
pluggy==1.6.0
ply==3.11
prettytable==3.16.0
prompt-toolkit==3.0.52
protobuf==6.32.0
psycopg2-binary==2.9.12
ptyprocess==0.7.0
py-cpuinfo==9.0.0
pyarrow==22.0.0
pyaudio==0.2.14
pybind11==2.13.6
pycld2==0.41
pycodestyle==2.14.0
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-settings==2.12.0
pyflakes==3.3.0
pygame==2.7.0
pygments==2.19.2
pygtrie==2.6.0
pyjwt==2.10.1
pymediainfo==6.1.0
pymongo==4.15.0
pyopenssl==25.3.0
pyparsing==3.3.0
pypdf==6.4.2
pyphen==0.17.2
pyrsistent==0.20.0
pytest==8.4.2
python-bidi==0.6.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.2.1
python-jose==3.4.0
python-levenshtein==0.27.1
python-magic==0.4.27
python-multipart==0.0.21
python-slugify==8.0.4
python-telegram-bot==22.8
pytz==2026.2
pyyaml==6.0.3
pyzbar==0.1.9
qrcode==8.1.0
quart==0.21.0
rapidfuzz==3.14.2
ratelimit==2.2.1
redis==8.0.1
regex==2025.11.10
requests==2.32.5
requests-cache==1.2.1
requests-html==0.10.0
retry==0.9.2
rich==14.2.0
ruff==0.14.0
sanic==25.3.0
schedule==1.2.2
scikit-learn==1.8.0
scipy==1.16.3
scrapy==2.13.0
seaborn==0.13.2
selenium==4.38.0
sentence-transformers==5.1.2
simplejson==3.20.2
six==1.17.0
soupsieve==2.8
spacy==3.8.5
sqlalchemy==2.0.45
sqlparse==0.5.3
starlette==0.49.3
strawberry-graphql==0.283.0
stripe==12.0.0
structlog==25.5.0
tabulate==0.9.0
tenacity==9.1.2
tensorflow==2.19.0
termcolor==3.2.0
textblob==0.19.0
textdistance==4.6.3
threadpoolctl==3.6.0
tokenizers==0.22.1
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
torch==2.8.0
tortoise-orm==0.25.0
tox==4.25.0
tqdm==4.68.0
transformers==4.57.3
transliterate==1.10.2
typer==0.20.0
types-requests==2.32.0.20260330
typing-extensions==4.15.0
ujson==5.11.0
unidecode==1.4.0
uritemplate==4.2.0
urllib3==2.6.0
uvicorn==0.38.0
uvloop==0.22.1
wand==0.6.13
wcwidth==0.2.13
weasyprint==70.0.0
websockets==16.0.0
werkzeug==3.1.4
wrapt==1.17.3
xarray==2025.12.0
xlsxwriter==3.2.2
xmltodict==0.14.2
yfinance==0.2.60
zstandard==0.25.0
aio-pika==9.6.2
aio-pika-patterns==4.0.0
aio-socks==0.9.0
aio-zip==0.4.0
aiobotocore==2.23.0
aiocache==0.12.4
aiocron==3.0.3
aiodocker==0.24.0
aiofiles==25.1.0
aiohttp-session==2.12.0
aiokafka==0.12.0
aiolimiter==1.3.0
aiomqtt==2.3.0
aionotify==0.3.0
aioprometheus==24.8.0
aioredlock==0.8.1
aiosmtplib==4.1.0
aiosonic==0.3.11
aiotools==1.9.0
aiounittest==1.6.2
amqp==5.3.1
ansible==11.7.0
anyascii==0.3.2
asgi-correlation-id==4.4.0
asgi-logger==0.3.0
asn1crypto==1.5.1
async-generator==1.10
async-exit-stack==1.0.1
async-timeout==5.0.1
asyncpg-stubs==0.27.0
atomicwrites==1.4.1
attrs-stubs==0.1.0
autobahn==25.7.0
backports-datetime-fromisoformat==2.0.3
backports-zoneinfo==0.2.1
base58==2.1.1
billiard==4.2.1
binaryornot==0.4.4
biopython==1.87
blessed==1.20.0
boto3-stubs==1.40.0
bottle==0.13.2
bs4==0.0.2
cairocffi==1.7.1
cattrs==25.1.0
cbor2==5.7.0
cchardet==2.1.7
certifi==2026.1.4
cffi==2.0.0
chardet==5.2.0
cheroot==10.0.1
cherrypy==18.10.0
clickhouse-connect==0.8.22
clickhouse-driver==0.2.10
clickhouse-sqlalchemy==0.2.5
cloudant==2.16.0
cmarkgfm==2024.11.20
colorcet==3.1.0
commonmark==0.9.1
configobj==5.0.9
cookiecutter==2.6.0
cryptography==46.0.3
cssselect==1.3.0
cssutils==2.11.1
cwcwidth==0.1.9
cytoolz==1.0.1
daphne==4.1.2
dask==2026.7.0
databases==0.9.0
databricks-sql-connector==3.7.0
dbfread==2.0.7
dbus-python==1.3.2
decorator==5.2.1
deepdiff==8.8.0
defusedxml==0.7.1
dill==0.4.0
distributed==2026.7.0
docker==7.1.0
docopt==0.6.2
docutils==0.21.2
ecdsa==0.19.1
elasticsearch==9.0.0
email-validator==2.2.0
eventlet==0.39.0
exceptiongroup==1.3.1
execnet==2.1.1
fabric==3.2.2
faker==33.3.0
fastavro==1.10.0
fasteners==0.20.0
feedparser==6.0.11
flask-caching==2.3.1
flask-cors==6.0.0
flask-login==0.7.0
flask-migrate==4.1.0
flask-sqlalchemy==3.1.1
fpdf2==2.8.1
frozendict==2.4.0
future==1.0.0
gcloud==0.18.3
gdown==5.2.0
geoip2==5.1.0
geojson==3.2.0
gevent-websocket==0.10.1
gitdb==4.0.12
gitpython==3.1.44
google-cloud-firestore==2.20.0
google-cloud-pubsub==2.32.0
graphene-django==3.2.0
graphql-core==3.2.6
gremlinpython==3.8.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
html2text==2024.2.26
httpcore==1.0.9
httpie==3.2.4
httpx-sse==0.4.0
humanfriendly==10.0
hyperframe==6.1.0
icalendar==6.1.1
idna==3.11
ijson==3.4.0
imagesize==1.4.1
imdbpy==2024.11.19
importlib-metadata==8.6.1
influxdb-client==1.51.0
inifile==0.4
ipython==9.8.0
isodate==0.7.2
jaraco-classes==3.4.0
jmespath==1.0.1
json5==0.12.0
json-logging==1.5.0
jsonpath-ng==1.7.0
jsonschema-specifications==2025.9.1
jupyter-core==5.7.2
kafka-python==2.0.2
kazoo==2.10.0
kubernetes==34.1.0
linecache2==1.0.0
llvmlite==0.44.0
lmdb==1.7.3
locket==1.0.0
mailchimp-transactional==1.0.51
mailgun==0.6.0
mailjet-rest==1.3.4
markdown-it-py==4.0.0
marko==2.0.3
matplotlib-inline==0.1.7
maxminddb==2.6.4
mdurl==0.1.2
memcached==1.60
mercantile==1.2.1
minio==7.2.18
mistune==3.2.0
mixpanel==4.10.1
mlflow==2.25.0
mongoengine==0.29.1
msgpack-numpy==0.4.8
msal==1.30.0
multidict==6.4.4
multiprocess==0.70.17
mysql-connector-python==9.1.0
mysqlclient==2.2.7
nanoid==2.0.0
nats-py==2.9.0
nest-asyncio==1.6.0
networkx==3.6.1
newrelic==10.12.0
numpy-stubs==0.0.1
oauth2client==4.1.3
oauthlib==3.3.1
opentelemetry-api==1.34.0
opentelemetry-sdk==1.34.0
packaging==25.0
paho-mqtt==2.1.0
paramiko==4.0.0
pathlib==1.0.1
pathtools==0.1.2
pbr==6.1.1
pdfkit==1.0.0
pexpect==4.9.0
pickleshare==0.7.5
pipreqs==0.5.0
pkgutil-resolve-name==1.3.10
plyvel==1.5.1
port-for==0.7.4
pre-commit==4.2.0
prometheus-client==0.22.0
prompt-toolkit==3.0.52
proto-plus==1.26.0
protobuf==6.32.0
pulsar-client==3.6.0
py4j==0.10.9.9
py7zr==0.22.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycares==4.6.0
pycodestyle==2.14.0
pycparser==2.23
pycrypto==2.6.1
pydantic-extra-types==2.10.3
pydantic-validators==0.1.3
pyee==13.0.0
pyelftools==0.32
pyflakes==3.3.0
pyftpdlib==2.1.2
pygithub==2.7.0
pyhcl==0.4.5
pyinstrument==5.0.0
pyjwkest==1.4.2
pykafka==2.8.0
pylint==3.3.6
pymacaroons==0.13.0
pympler==1.1
pynacl==1.6.0
pyotp==2.9.0
pypcap==1.3.0
pyperclip==1.9.0
pyppeteer==2.0.0
pypuppetdb==3.2.1
pyquery==2.0.0
pyramid==2.0.2
pyrfc3339==1.1
pyrsistent==0.20.0
pyserial==3.5
pysftp==0.2.9
pysmi==0.3.4
pysnmp==6.3.11
pysocks==1.7.1
pyspark==4.0.0
pystemmer==2.2.0.1
python-consul2==0.1.5
python-http-client==3.3.7
python-json-logger==3.3.0
python-logstash==0.4.8
python-memcached==1.62
python-msgpack==0.6.0
python-nmap==0.7.1
python-qrcodex==0.3.1
python-redis-lock==4.0.0
python-socketio==5.13.0
python-ulid==3.0.0
python-utils==3.9.1
python-zoom==1.13.3
pytzdata==2025.2
pywin32==311
pyyaml-include==2.2
pyzmq==27.0.0
qrcode-artistic==2.0.2
rabbitmq-client==3.8.0
raven==6.10.0
redis-py-cluster==2.1.3
referencing==0.38.0
regex==2025.11.10
reportlab==4.3.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rope==1.13.0
rpds-py==0.28.0
ruamel-yaml==0.18.10
s3fs==2026.3.0
s3transfer==0.14.0
sanic-ext==25.3.0
sanic-testing==25.3.0
sentry-sdk==2.34.0
service-identity==24.2.0
setproctitle==1.3.6
sh==2.2.1
shapely==2.1.2
shellingham==1.5.4
shortuuid==1.0.13
simple-crypt==4.1.9
sixel==0.2.2
sklearn==0.0.post13
smmap==5.0.2
snappy==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.8
sphinx==8.2.3
sphinx-rtd-theme==3.0.2
splinter==0.20.1
sqlite-utils==3.38
ssh-paramiko==0.0.2
statsmodels==0.14.4
stevedore==5.3.0
stomp-py==8.1.0
strenum==0.4.15
supervisor==4.2.5
sympy==1.13.3
tblib==3.0.0
tencentcloud-sdk-python==3.0.1340
threadpoolctl==3.6.0
tldextract==5.2.0
tomlkit==0.13.2
toolz==1.0.0
tornado==6.5.1
tox-current-env==0.0.16
traceback2==1.4.0
truststore==0.10.1
twilio==9.5.0
twisted==24.11.0
typing-inspect==0.9.0
ujson==5.11.0
unittest2==1.1.0
urllib3-secure-extra==0.1.0
uv==0.6.15
validate-email==1.3
venv==24.3.0
virtualenv==20.32.1
watchdog==6.0.0
web3==7.10.0
webdriver-manager==4.0.3
webob==1.8.10
webrtcvad==2.0.10
websocket-client==1.8.0
websocket-server==0.6.4
wsproto==1.3.2
wtforms==3.2.1
xattr==1.1.2
xlrd==2.0.1
xmlrpc==1.0.0
xmlsec==1.3.14
yarl==1.20.0
yaspin==3.4.0
z3c-rml==1.0.0
zc-lockfile==3.0.post1
zeep==4.3.1
zict==3.0.0
zipp==3.23.0
zope-event==5.0
zope-interface==7.2
